<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RaporService.Service1" behaviorConfiguration="smb">
        <endpoint address="" 
                  kind="webHttpEndpoint"
                  binding="webHttpBinding"
                  bindingConfiguration="bind"
                  contract="RaporService.IService1"
                  behaviorConfiguration="smb_end"/>
        <!--<endpoint address=""
                  binding="wsHttpBinding"
                  contract="RaporService.IService1"
                  behaviorConfiguration="smb_end"/>
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="RaporService.IService1"
                  behaviorConfiguration="smb_end"/>-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:1313"/>
            <add baseAddress="net.tcp://localhost:1313"/>
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <!--<protocolMapping>
      <add binding="wsHttpBinding" scheme="http"/>
      <add binding="netTcpBinding" scheme="net.tcp"/>
    </protocolMapping>-->
    <bindings>
      <webHttpBinding>
        <binding name="bind">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="smb">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="smb_end">
          <webHttp helpEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="dbConn" 
         connectionString="Server=tcp:raporkita.database.windows.net,1433;
         Initial Catalog=raporku;Persist Security Info=False;User ID=thoriq;
         Password=Thor@123;MultipleActiveResultSets=False;Encrypt=True;
         TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
